<!DOCTYPE html>

<html>

<head>
    <% include ../partials/displayHead.ejs %>
</head>

<body>
    <div id="title">
        <h1 class="outTitle">Tokimon</h1>
        <div>
            <h1 class="innerTitle">Tokimon</h1>
        </div>
    </div>
    <div id="contentDiv">
        <div id="outerTokidex">
            <div id="innerTokidex">
                <form id="sortForm" action="/sort" method="get">
                    <label>Sort Tokidex Entries By:</label>
                    <select name="Sort" id="myList">
                        <option value="1" selected="selected">Time Added: Oldest to recent</option>
                        <option value="2">Time Added: Recent to Old</option>
                        <option value="3">Name: A to Z</option>
                        <option value="4">Name: Z to A</option>
                        <option value="5">Weight: Lightest to Heaviest</option>
                        <option value="6">Weight: Heaviest to Lightest</option>
                        <option value="7">Height: Shortest to Tallest</option>
                        <option value="8">Height: Tallest to Shortest</option>
                        <option value="9">Fly: Lowest to Highest</option>
                        <option value="10">Fly: Highest to Lowest</option>
                        <option value="11">Fight: Lowest to Highest</option>
                        <option value="12">Fight: Highest to Lowest</option>
                        <option value="13">Fire: Lowest to Highest</option>
                        <option value="14">Fire: Highest to Lowest</option>
                        <option value="15">Water: Lowest to Highest</option>
                        <option value="16">Water: Highest to Lowest</option>
                        <option value="17">Electric: Lowest to Highest</option>
                        <option value="18">Electric: Highest to Lowest</option>
                        <option value="19">Ice: Lowest to Highest</option>
                        <option value="20">Ice: Highest to Lowest</option>
                    </select>
                    <input id="sortBut" type="submit" value="Sort the Table">
                </form>
                <div id="displayContent">
                    <div id="scroll">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Weight</th>
                                    <th>Height</th>
                                    <th>Fly</th>
                                    <th>Fight</th>
                                    <th>Fire</th>
                                    <th>Water</th>
                                    <th>Electric</th>
                                    <th>Ice</th>
                                    <th>More Info</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% data.forEach(function(e){ %>
                                <tr>
                                    <td><%=e.name%></td>
                                    <td><%=e.weight%></td>
                                    <td><%=e.height%></td>
                                    <td><%=e.fly%></td>
                                    <td><%=e.fight%></td>
                                    <td><%=e.fire%></td>
                                    <td><%=e.water%></td>
                                    <td><%=e.electric%></td>
                                    <td><%=e.ice%></td>
                                    <td id="infoCell"><a href="/info/<%=e.id%>">More Info</a></td>
                                </tr>
                                <%}) %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="buttonNav">
                    <h2 id="tokidexOut">Tokidex</h2>
                    <div>
                        <h2 id="tokidexIn">Tokidex</h2>
                    </div>
                    <a href="/"><button>Hide All Tokimon</button></a>
                    <a href="/new"><button>Add New Tokimon</button></a>
                    <a href="/edit"><button>Edit a Tokimon</button></a>
                    <a href="/delete"><button>Delete a Tokimon</button></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>